html {
  background: url(../images/cover3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  font-family: "Roboto";
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info {
  color: whitesmoke;
  margin-top: -20px;
}

.history {
  /* padding-top: 5px; */
  /* overflow-y: scroll; */
  /* max-height: inherit; */
}

.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  border: 1px solid whitesmoke;
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  width: 60px;
  padding: 0;
  text-align: center;
  /* margin-right: -1px; */
  /* margin-top: -1px; */
  /* color: white; */
}
.square:hover {
  border: 4px solid #3f51b5;
}
